## Baseline Model for Home Credit

Home Credit Default Risk (https://www.kaggle.com/c/home-credit-default-risk)

In [1]:
import sklearn
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [2]:
train = pd.read_csv('application_train.csv')
test = pd.read_csv('application_test.csv')

In [3]:
print('Training data shape: ', train.shape)
train.head()

Training data shape:  (307511, 122)

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0

In [4]:
print('Test data shape: ', test.shape)
test.head()

Test data shape:  (48744, 121)

,SK_ID_CURR,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100001,Cash loans,F,N,Y,0,135000.0,568800.0,20560.5,450000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
1,100005,Cash loans,M,N,Y,0,99000.0,222768.0,17370.0,180000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
2,100013,Cash loans,M,Y,Y,0,202500.0,663264.0,69777.0,630000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,4.0
3,100028,Cash loans,F,N,Y,2,315000.0,1575000.0,49018.5,1575000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
4,100038,Cash loans,M,Y,N,1,180000.0,625500.0,32067.0,625500.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN

### Target

Target is:
    0 if the loan was repaid on time
    1 if was not

### Missing values

In [5]:
mis_val = train.isnull().sum()
mis_val_percent = mis_val / len(train)

In [37]:
# Show columns with more than 30% of missing values
mis_val_percent[mis_val_percent > 0.3].sort_values(ascending=False)

COMMONAREA_AVG                  0.698723
COMMONAREA_MODE                 0.698723
COMMONAREA_MEDI                 0.698723
NONLIVINGAPARTMENTS_MODE        0.694330
NONLIVINGAPARTMENTS_MEDI        0.694330
NONLIVINGAPARTMENTS_AVG         0.694330
FONDKAPREMONT_MODE              0.683862
LIVINGAPARTMENTS_MODE           0.683550
LIVINGAPARTMENTS_AVG            0.683550
LIVINGAPARTMENTS_MEDI           0.683550
FLOORSMIN_AVG                   0.678486
FLOORSMIN_MEDI                  0.678486
FLOORSMIN_MODE                  0.678486
YEARS_BUILD_AVG                 0.664978
YEARS_BUILD_MODE                0.664978
YEARS_BUILD_MEDI                0.664978
OWN_CAR_AGE                     0.659908
LANDAREA_MODE                   0.593767
LANDAREA_AVG                    0.593767
LANDAREA_MEDI                   0.593767
BASEMENTAREA_MEDI               0.585160
BASEMENTAREA_AVG                0.585160
BASEMENTAREA_MODE               0.585160
EXT_SOURCE_1                    0.563811
NONLIVINGAREA_MODE              0.551792
NONLIVINGAREA_MEDI              0.551792
NONLIVINGAREA_AVG               0.551792
ELEVATORS_AVG                   0.532960
ELEVATORS_MEDI                  0.532960
ELEVATORS_MODE                  0.532960
WALLSMATERIAL_MODE              0.508408
APARTMENTS_MODE                 0.507497
APARTMENTS_AVG                  0.507497
APARTMENTS_MEDI                 0.507497
ENTRANCES_MEDI                  0.503488
ENTRANCES_MODE                  0.503488
ENTRANCES_AVG                   0.503488
LIVINGAREA_MEDI                 0.501933
LIVINGAREA_AVG                  0.501933
LIVINGAREA_MODE                 0.501933
HOUSETYPE_MODE                  0.501761
FLOORSMAX_MODE                  0.497608
FLOORSMAX_AVG                   0.497608
FLOORSMAX_MEDI                  0.497608
YEARS_BEGINEXPLUATATION_MODE    0.487810
YEARS_BEGINEXPLUATATION_AVG     0.487810
YEARS_BEGINEXPLUATATION_MEDI    0.487810
TOTALAREA_MODE                  0.482685
EMERGENCYSTATE_MODE             0.473983
OCCUPATION_TYPE                 0.313455
dtype: float64

### Selecting Features by importance

In [8]:
import featuretools as ft
from sklearn.model_selection import train_test_split
from sklearn.model_selection import KFold
from sklearn.metrics import roc_auc_score
from sklearn.preprocessing import LabelEncoder
from sklearn.ensemble import GradientBoostingClassifier
import lightgbm as lgb

In [9]:
# Need to save the labels because aligning will remove this column
train_labels = train['TARGET']
train_ids = train['SK_ID_CURR']
test_ids = test['SK_ID_CURR']

train = pd.get_dummies(train)
test = pd.get_dummies(test)

print('Training set full shape: ', train.shape)
print('Testing set full shape: ' , test.shape)

Training set full shape:  (307511, 246)
Testing set full shape:  (48744, 242)

In [10]:
train = train.drop(columns = ['SK_ID_CURR', 'TARGET'])
test = test.drop(columns = ['SK_ID_CURR'])
train, test = train.align(test, join = 'inner', axis = 1)

In [11]:
train = train.fillna(0)
test = test.fillna(0)

#### Training classifier to get features importance

In [24]:
# Initialize an empty array to hold feature importances
feature_importances = np.zeros(train.shape[1])

# Create the model with several hyperparameters
model = lgb.LGBMClassifier(objective='binary', boosting_type = 'goss', n_estimators = 10000, class_weight = 'balanced')

In [25]:
iterations = 5
# Fit the model twice to avoid overfitting
for i in range(iterations):
    
    # Split into training and validation set
    train_features, valid_features, train_y, valid_y = train_test_split(train[i*10000:(i+1)*10000], train_labels[i*10000:(i+1)*10000], test_size = 0.25, random_state = i)
    
    # Train using early stopping
    model.fit(train_features, train_y, early_stopping_rounds=100, eval_set = [(valid_features, valid_y)], 
              eval_metric = 'auc', verbose = 200)
    
    # Record the feature importances
    feature_importances += model.feature_importances_

feature_importances /= iterations

Training until validation scores don't improve for 100 rounds.
Early stopping, best iteration is:
[53]	valid_0's auc: 0.719316
Training until validation scores don't improve for 100 rounds.
Early stopping, best iteration is:
[21]	valid_0's auc: 0.707395
Training until validation scores don't improve for 100 rounds.
Early stopping, best iteration is:
[26]	valid_0's auc: 0.703163
Training until validation scores don't improve for 100 rounds.
Early stopping, best iteration is:
[88]	valid_0's auc: 0.734687
Training until validation scores don't improve for 100 rounds.
Early stopping, best iteration is:
[25]	valid_0's auc: 0.7104

In [26]:
feature_importances = pd.DataFrame({'feature': list(train.columns), 'importance': feature_importances}).sort_values('importance', ascending = False)

In [27]:
feature_importances.head()

            feature  importance
23     EXT_SOURCE_3        95.6
22     EXT_SOURCE_2        89.2
6        DAYS_BIRTH        68.8
3       AMT_ANNUITY        66.6
9   DAYS_ID_PUBLISH        65.0

In [28]:
# Find the features with zero importance
least_important = list(feature_importances[feature_importances['importance'] <= 0.5]['feature'])
print('There are %d no important features' % len(least_important))

There are 0 no important features

#### Dropping unimportant features

In [29]:
train = train.drop(columns = least_important)
test = test.drop(columns = least_important)

print('Training shape: ', train.shape)
print('Testing shape: ', test.shape)

Training shape:  (307511, 108)
Testing shape:  (48744, 108)

In [31]:
import gc


def train_model(features, test_features, encoding = 'ohe', n_folds = 10):
    
    """Train and test a light gradient boosting model using
    cross validation. 
    
    Parameters
    --------
        features (pd.DataFrame): 
            dataframe of training features to use 
            for training a model. Must include the TARGET column.
        test_features (pd.DataFrame): 
            dataframe of testing features to use
            for making predictions with the model. 
        encoding (str, default = 'ohe'): 
            method for encoding categorical variables. Either 'ohe' for one-hot encoding or 'le' for integer label encoding
            n_folds (int, default = 5): number of folds to use for cross validation
        
    Return
    --------
        submission (pd.DataFrame): 
            dataframe with `SK_ID_CURR` and `TARGET` probabilities
            predicted by the model.
        feature_importances (pd.DataFrame): 
            dataframe with the feature importances from the model.
        valid_metrics (pd.DataFrame): 
            dataframe with training and validation metrics (ROC AUC) for each fold and overall.
        
    """
    
    # Extract the ids
    train_ids = features['SK_ID_CURR']
    test_ids = test_features['SK_ID_CURR']
    
    # Extract the labels for training
    labels = features['TARGET']
    
    # Remove the ids and target
    features = features.drop(columns = ['SK_ID_CURR', 'TARGET'])
    test_features = test_features.drop(columns = ['SK_ID_CURR'])
    
    
    # One Hot Encoding
    if encoding == 'ohe':
        features = pd.get_dummies(features)
        test_features = pd.get_dummies(test_features)
        
        # Align the dataframes by the columns
        features, test_features = features.align(test_features, join = 'inner', axis = 1)
        
        # No categorical indices to record
        cat_indices = 'auto'
    
    # Integer label encoding
    elif encoding == 'le':
        
        # Create a label encoder
        label_encoder = LabelEncoder()
        
        # List for storing categorical indices
        cat_indices = []
        
        # Iterate through each column
        for i, col in enumerate(features):
            if features[col].dtype == 'object':
                # Map the categorical features to integers
                features[col] = label_encoder.fit_transform(np.array(features[col].astype(str)).reshape((-1,)))
                test_features[col] = label_encoder.transform(np.array(test_features[col].astype(str)).reshape((-1,)))

                # Record the categorical indices
                cat_indices.append(i)
    
    # Catch error if label encoding scheme is not valid
    else:
        raise ValueError("Encoding must be either 'ohe' or 'le'")
        
    print('Training Data Shape: ', features.shape)
    print('Testing Data Shape: ', test_features.shape)
    
    # Extract feature names
    feature_names = list(features.columns)
    
    # Convert to np arrays
    features = np.array(features)
    test_features = np.array(test_features)
    
    # Create the kfold object
    k_fold = KFold(n_splits = n_folds, shuffle = False, random_state = 50)
    
    # Empty array for feature importances
    feature_importance_values = np.zeros(len(feature_names))
    
    # Empty array for test predictions
    test_predictions = np.zeros(test_features.shape[0])
    
    # Empty array for out of fold validation predictions
    out_of_fold = np.zeros(features.shape[0])
    
    # Lists for recording validation and training scores
    valid_scores = []
    train_scores = []
    
    # Iterate through each fold
    for train_indices, valid_indices in k_fold.split(features):
        
        # Training data for the fold
        train_features, train_labels = features[train_indices], labels[train_indices]
        # Validation data for the fold
        valid_features, valid_labels = features[valid_indices], labels[valid_indices]
        
        # Create the model
        model = lgb.LGBMClassifier(n_estimators=10000, objective = 'binary', boosting_type='gbdt',
                                   class_weight = 'balanced', learning_rate = 0.01, 
                                   reg_alpha = 0.1, reg_lambda = 0.1, n_jobs = -1, random_state = 50)
        
        # Train the model
        model.fit(train_features, train_labels, eval_metric = 'auc',
                  eval_set = [(valid_features, valid_labels), (train_features, train_labels)],
                  eval_names = ['valid', 'train'], categorical_feature = cat_indices,
                  early_stopping_rounds = 100, verbose = 200)
        
        # Record the best iteration
        best_iteration = model.best_iteration_
        
        # Record the feature importances
        feature_importance_values += model.feature_importances_ / k_fold.n_splits
        
        # Make predictions
        test_predictions += model.predict_proba(test_features, num_iteration = best_iteration)[:, 1] / k_fold.n_splits
        
        # Record the out of fold predictions
        out_of_fold[valid_indices] = model.predict_proba(valid_features, num_iteration = best_iteration)[:, 1]
        
        # Record the best score
        valid_score = model.best_score_['valid']['auc']
        train_score = model.best_score_['train']['auc']
        
        valid_scores.append(valid_score)
        train_scores.append(train_score)
        
        # Clean up memory
        gc.enable()
        del model, train_features, valid_features
        gc.collect()
        
    # Make the submission dataframe
    submission = pd.DataFrame({'SK_ID_CURR': test_ids, 'TARGET': test_predictions})
    
    # Make the feature importance dataframe
    feature_importances = pd.DataFrame({'feature': feature_names, 'importance': feature_importance_values})
    
    # Overall validation score
    valid_auc = roc_auc_score(labels, out_of_fold)
    
    # Add the overall scores to the metrics
    valid_scores.append(valid_auc)
    train_scores.append(np.mean(train_scores))
    
    # Needed for creating dataframe of validation scores
    fold_names = list(range(n_folds))
    fold_names.append('overall')
    
    # Dataframe of validation scores
    metrics = pd.DataFrame({'fold': fold_names,
                            'train': train_scores,
                            'valid': valid_scores}) 
    
    return submission, feature_importances, metrics

In [32]:
train['TARGET'] = train_labels
train['SK_ID_CURR'] = train_ids
test['SK_ID_CURR'] = test_ids

submission, feature_importances, metrics = train_model(train, test)

Training Data Shape:  (307511, 108)
Testing Data Shape:  (48744, 108)
Training until validation scores don't improve for 100 rounds.
[200]	valid's auc: 0.741631	train's auc: 0.750967
[400]	valid's auc: 0.753175	train's auc: 0.768028
[600]	valid's auc: 0.757055	train's auc: 0.778182
[800]	valid's auc: 0.758307	train's auc: 0.785829
[1000]	valid's auc: 0.758713	train's auc: 0.79268
[1200]	valid's auc: 0.758963	train's auc: 0.799067
Early stopping, best iteration is:
[1274]	valid's auc: 0.759044	train's auc: 0.801341
Training until validation scores don't improve for 100 rounds.
[200]	valid's auc: 0.739884	train's auc: 0.750919
[400]	valid's auc: 0.752647	train's auc: 0.767706
[600]	valid's auc: 0.75745	train's auc: 0.777851
[800]	valid's auc: 0.759076	train's auc: 0.785746
[1000]	valid's auc: 0.76026	train's auc: 0.792752
[1200]	valid's auc: 0.760791	train's auc: 0.798984
Early stopping, best iteration is:
[1220]	valid's auc: 0.760817	train's auc: 0.799556
Training until validation scores don't improve for 100 rounds.
[200]	valid's auc: 0.740273	train's auc: 0.750943
[400]	valid's auc: 0.75242	train's auc: 0.768122
[600]	valid's auc: 0.756771	train's auc: 0.77826
[800]	valid's auc: 0.7584	train's auc: 0.786063
[1000]	valid's auc: 0.759203	train's auc: 0.792822
[1200]	valid's auc: 0.759481	train's auc: 0.799186
[1400]	valid's auc: 0.759473	train's auc: 0.805059
Early stopping, best iteration is:
[1303]	valid's auc: 0.759563	train's auc: 0.802287
Training until validation scores don't improve for 100 rounds.
[200]	valid's auc: 0.742597	train's auc: 0.750427
[400]	valid's auc: 0.755424	train's auc: 0.767687
[600]	valid's auc: 0.760306	train's auc: 0.77781
[800]	valid's auc: 0.762005	train's auc: 0.785634
[1000]	valid's auc: 0.763	train's auc: 0.792473
[1200]	valid's auc: 0.763519	train's auc: 0.7986
Early stopping, best iteration is:
[1186]	valid's auc: 0.763527	train's auc: 0.798189
Training until validation scores don't improve for 100 rounds.
[200]	valid's auc: 0.737489	train's auc: 0.751071
[400]	valid's auc: 0.749348	train's auc: 0.768121
[600]	valid's auc: 0.753121	train's auc: 0.778172
[800]	valid's auc: 0.754227	train's auc: 0.786112
[1000]	valid's auc: 0.754525	train's auc: 0.792903
[1200]	valid's auc: 0.75457	train's auc: 0.79914
Early stopping, best iteration is:
[1113]	valid's auc: 0.754676	train's auc: 0.7965
Training until validation scores don't improve for 100 rounds.
[200]	valid's auc: 0.730026	train's auc: 0.751392
[400]	valid's auc: 0.741277	train's auc: 0.769023
[600]	valid's auc: 0.745406	train's auc: 0.778902
[800]	valid's auc: 0.747235	train's auc: 0.786583
[1000]	valid's auc: 0.748056	train's auc: 0.79318
[1200]	valid's auc: 0.748572	train's auc: 0.799502
[1400]	valid's auc: 0.748681	train's auc: 0.805375
[1600]	valid's auc: 0.748874	train's auc: 0.810981
Early stopping, best iteration is:
[1591]	valid's auc: 0.74893	train's auc: 0.810733
Training until validation scores don't improve for 100 rounds.
[200]	valid's auc: 0.737553	train's auc: 0.75085
[400]	valid's auc: 0.748837	train's auc: 0.768205
[600]	valid's auc: 0.753045	train's auc: 0.778265
[800]	valid's auc: 0.75496	train's auc: 0.786182
[1000]	valid's auc: 0.755978	train's auc: 0.792852
[1200]	valid's auc: 0.756731	train's auc: 0.798963
[1400]	valid's auc: 0.757036	train's auc: 0.804811
[1600]	valid's auc: 0.757229	train's auc: 0.810457
[1800]	valid's auc: 0.757337	train's auc: 0.815785
[2000]	valid's auc: 0.757432	train's auc: 0.82088
Early stopping, best iteration is:
[2035]	valid's auc: 0.7575	train's auc: 0.821744
Training until validation scores don't improve for 100 rounds.
[200]	valid's auc: 0.748171	train's auc: 0.750202
[400]	valid's auc: 0.758849	train's auc: 0.767105
[600]	valid's auc: 0.762994	train's auc: 0.777118
[800]	valid's auc: 0.764353	train's auc: 0.785048
[1000]	valid's auc: 0.764673	train's auc: 0.791837
[1200]	valid's auc: 0.764964	train's auc: 0.798259
Early stopping, best iteration is:
[1272]	valid's auc: 0.76506	train's auc: 0.800468
Training until validation scores don't improve for 100 rounds.
[200]	valid's auc: 0.747435	train's auc: 0.750522
[400]	valid's auc: 0.757787	train's auc: 0.767534
[600]	valid's auc: 0.762092	train's auc: 0.777524
[800]	valid's auc: 0.764438	train's auc: 0.785244
[1000]	valid's auc: 0.765432	train's auc: 0.792008
[1200]	valid's auc: 0.766191	train's auc: 0.79804
[1400]	valid's auc: 0.76663	train's auc: 0.803807
Early stopping, best iteration is:
[1458]	valid's auc: 0.766718	train's auc: 0.805473
Training until validation scores don't improve for 100 rounds.
[200]	valid's auc: 0.740043	train's auc: 0.751242
[400]	valid's auc: 0.74914	train's auc: 0.768304
[600]	valid's auc: 0.753052	train's auc: 0.778315
[800]	valid's auc: 0.754207	train's auc: 0.786071
[1000]	valid's auc: 0.754848	train's auc: 0.792853
[1200]	valid's auc: 0.755208	train's auc: 0.79916
[1400]	valid's auc: 0.755609	train's auc: 0.805133
[1600]	valid's auc: 0.755743	train's auc: 0.810864
Early stopping, best iteration is:
[1621]	valid's auc: 0.755797	train's auc: 0.811419

In [34]:
submission.to_csv('selected_features_submission.csv', index = False)

In [36]:
submission.head(10)

   SK_ID_CURR    TARGET
0      100001  0.231188
1      100005  0.590449
2      100013  0.137851
3      100028  0.278834
4      100038  0.657233
5      100042  0.282492
6      100057  0.162316
7      100065  0.300381
8      100066  0.111259
9      100067  0.460351