In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [2]:
ENROLLEES = pd.read_csv('Comma Delimited Data/enrollees.csv').drop(['VERSION'],axis=1)
ENROLLEES.head(5)

,ID,P02HISP,P02RACE,P02SEX,V00CHRTHLF,V00COHORT,V00IMAGESA,V00IMAGESB,V00IMAGESC,V00IMAGESD,...,V08IMAGESE,V08IMAGESF,V08IMAGESG,V10IMAGESA,V10IMAGESB,V10IMAGESC,V10IMAGESD,V10IMAGESE,V10IMAGESF,V10IMAGESG
0,9000099,0.0,1.0,1,2,1,0,0,0,0,...,1.0,0.0,1.0,0,0.0,0.0,0.0,1.0,0.0,1.0
1,9000296,0.0,1.0,1,1,2,3,0,3,0,...,0.0,0.0,0.0,3,0.0,1.0,0.0,0.0,0.0,0.0
2,9000622,0.0,1.0,2,2,1,0,0,0,0,...,NaN,0.0,0.0,0,0.0,0.0,0.0,NaN,0.0,0.0
3,9000798,0.0,1.0,1,1,1,0,0,3,3,...,0.0,0.0,0.0,0,0.0,1.0,1.0,0.0,0.0,0.0
4,9001104,0.0,1.0,2,2,2,0,0,0,0,...,NaN,0.0,0.0,0,0.0,0.0,0.0,NaN,0.0,0.0

#### Target Data

In [4]:
dt = pd.read_csv('Comma Delimited Data/outcomes99.csv').drop(['version'],axis=1)
dt.keys()

Index(['id', 'V99RNTCNT', 'V99ERKDATE', 'V99ERKFLDT', 'V99ERKRPCF',
       'V99ERKTLPR', 'V99ERKTPPR', 'V99ERKBLRP', 'V99ERKVSRP', 'V99ERKPODX',
       'V99ERKDAYS', 'V99ERKVSPR', 'V99ERKVSAF', 'V99ERKRPSN', 'V99ERKXRPR',
       'V99ERKXRAF', 'V99ELKDATE', 'V99ELKFLDT', 'V99ELKRPCF', 'V99ELKTLPR',
       'V99ELKTPPR', 'V99ELKBLRP', 'V99ELKVSRP', 'V99ELKPODX', 'V99ELKDAYS',
       'V99ELKVSPR', 'V99ELKVSAF', 'V99ELKRPSN', 'V99ELKXRPR', 'V99ELKXRAF',
       'V99ERHDATE', 'V99ERHFLDT', 'V99ERHRPCF', 'V99ERHPODX', 'V99ERHDAYS',
       'V99ERHVSPR', 'V99ERHVSAF', 'V99ERHRPSN', 'V99ERHXRPR', 'V99ERHXRAF',
       'V99ERHVSRP', 'V99ERHBLRP', 'V99ELHDATE', 'V99ELHFLDT', 'V99ELHRPCF',
       'V99ELHPODX', 'V99ELHDAYS', 'V99ELHVSPR', 'V99ELHVSAF', 'V99ELHRPSN',
       'V99ELHXRPR', 'V99ELHXRAF', 'V99ELHVSRP', 'V99ELHBLRP', 'V99EXLVSQD',
       'V99ERXIOA', 'V99ERXIOAN', 'V99ERXNOA', 'V99ERXNOAN', 'V99ERKLOA',
       'V99ERKLOAN', 'V99ELXIOA', 'V99ELXIOAN', 'V99ELXNOA', 'V99ELXNOAN',
       'V99ELKLOA', 'V99ELKLOAN', 'V99ERXJSNM', 'V99ERXJSNL', 'V99ELXJSNM',
       'V99ELXJSNL', 'V99ERJSFP', 'V99ERJSLP', 'V99ERNJSLP', 'V99ERJSTFP',
       'V99ERJSFW', 'V99ERJSLW', 'V99ERNJSLW', 'V99ERJSTFW', 'V99ELJSFP',
       'V99ELJSLP', 'V99ELNJSLP', 'V99ELJSTFP', 'V99ELJSFW', 'V99ELJSLW',
       'V99ELNJSLW', 'V99ELJSTFW', 'V99EDDCF', 'V99EDDDATE', 'V99EDDFLDT',
       'V99EDDVSPR'],
      dtype='object')

#### Grouping features by meaning...

In [5]:
tRPCF = [i for i in dt.columns if i[-4:] =='RPCF']   # Knee and hip replacement status during follow-up
tBLRP = [i for i in dt.columns if i[-4:] =='BLRP']   # Baseline knee or hip replacements
tRPSN = [i for i in dt.columns if i[-4:] =='RPSN']   # Knee or hip replacement seen on follow-up OAI x-ray.
tDAYS = [i for i in dt.columns if i[-4:] =='DAYS']   # Closest OAI contact prior to and after replacement
tVSPR = [i for i in dt.columns if i[-4:] =='VSPR']   # Closest OAI contact prior to replacement
tXRPR = [i for i in dt.columns if i[-4:] =='XRPR']   # Closest OAI visit with x-ray prior to replacement
tXRAF = [i for i in dt.columns if i[-4:] =='XRAF']   # Closest OAI visit with x-ray after the replacement

tVSAF = [i for i in dt.columns if i[-4:] =='VSAF']   # Closest OAI contact after the replacement
tDATE = [i for i in dt.columns if i[-4:] =='DATE']   # Date of a replacement
tTLPR = [i for i in dt.columns if i[-4:] =='TLPR']   # Total or Partial replacement indication
tTPPR = [i for i in dt.columns if i[-4:] =='TPPR']   # Type of Partial replacement indication
tPODX = [i for i in dt.columns if i[-4:] =='PODX']   # Primary pre-operative diagnosis
tDEATH = [i for i in dt.columns if i[-4:] =='EDDCF'] # Death columns

DT_outcome = dt[['id'] + tRPCF + tBLRP + tPODX]

In [6]:
DT_outcome.head(10)

,id,V99ERKRPCF,V99ELKRPCF,V99ERHRPCF,V99ELHRPCF,V99ERKBLRP,V99ELKBLRP,V99ERHBLRP,V99ELHBLRP,V99ERKPODX,V99ELKPODX,V99ERHPODX,V99ELHPODX
0,9000099,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,9000296,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,9000622,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
3,9000798,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,9001104,NaN,NaN,NaN,3.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,4.0
5,9001400,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,9001695,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,9001897,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,9002116,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,9002316,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

#### Grouping features by affected joint ...

In [8]:
tELK = [i for i in DT_outcome.columns if i[0:6] =='V99ELK']  # Left Knee Columns
tERK = [i for i in DT_outcome.columns if i[0:6] =='V99ERK']  # Right Knee Columns
tELH = [i for i in DT_outcome.columns if i[0:6] =='V99ELH']  # Left Hip Columns
tERH = [i for i in DT_outcome.columns if i[0:6] =='V99ELH']  # Right Hip Columns
DT_outcome[['id'] + tERH].head(5)

        id  V99ELHRPCF  V99ELHBLRP  V99ELHPODX
0  9000099         NaN         NaN         NaN
1  9000296         NaN         NaN         NaN
2  9000622         NaN         0.0         NaN
3  9000798         NaN         NaN         NaN
4  9001104         3.0         0.0         4.0

In [9]:
targets = DT_outcome.fillna(0)
targets.describe()

,id,V99ERKRPCF,V99ELKRPCF,V99ERHRPCF,V99ELHRPCF,V99ERKBLRP,V99ELKBLRP,V99ERHBLRP,V99ELHBLRP,V99ERKPODX,V99ELKPODX,V99ERHPODX,V99ELHPODX
count,4.796000e+03,4796.000000,4796.000000,4796.000000,4796.000000,4796.000000,4796.000000,4796.000000,4796.000000,4796.000000,4796.000000,4796.000000,4796.000000
mean,9.513826e+06,0.169725,0.167431,0.072977,0.067973,0.007923,0.005213,0.006047,0.004379,0.065680,0.071309,0.031902,0.035029
std,2.794781e+05,0.690747,0.686311,0.459963,0.442252,0.088669,0.072018,0.077533,0.066033,0.333187,0.408362,0.263180,0.313783
min,9.000099e+06,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,9.283430e+06,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,9.522042e+06,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,9.747572e+06,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,9.999878e+06,3.000000,3.000000,3.000000,3.000000,1.000000,1.000000,1.000000,1.000000,7.000000,7.000000,8.000000,8.000000

#### Joint Dataset

In [10]:
dt0 = pd.read_csv('Comma Delimited Data/jointsx00.csv').drop(['VERSION'],axis=1)
dt1 = pd.read_csv('Comma Delimited Data/jointsx01.csv').drop(['VERSION'],axis=1) 
dt2 = pd.read_csv('Comma Delimited Data/jointsx02.csv').drop(['VERSION'],axis=1)
dt3 = pd.read_csv('Comma Delimited Data/jointsx03.csv').drop(['VERSION'],axis=1) 
dt4 = pd.read_csv('Comma Delimited Data/jointsx04.csv').drop(['VERSION'],axis=1) 
dt5 = pd.read_csv('Comma Delimited Data/jointsx05.csv').drop(['VERSION'],axis=1) 
dt6 = pd.read_csv('Comma Delimited Data/jointsx06.csv').drop(['VERSION'],axis=1) 
dt7 = pd.read_csv('Comma Delimited Data/jointsx07.csv').drop(['VERSION'],axis=1) 
dt8 = pd.read_csv('Comma Delimited Data/jointsx08.csv').drop(['VERSION'],axis=1) 
dt9 = pd.read_csv('Comma Delimited Data/jointsx09.csv').drop(['VERSION'],axis=1) 
dt10 = pd.read_csv('Comma Delimited Data/jointsx10.csv').drop(['VERSION'],axis=1)

In [11]:
JOINT  = dt0.merge(dt1, how='outer', left_on='ID', right_on='ID')
JOINT  = JOINT.merge(dt2, how='outer',left_on='ID', right_on='ID')
JOINT  = JOINT.merge(dt3, how='outer',left_on='ID', right_on='ID')
JOINT  = JOINT.merge(dt4, how='outer',left_on='ID', right_on='ID')
JOINT  = JOINT.merge(dt5, how='outer',left_on='ID', right_on='ID')
JOINT  = JOINT.merge(dt6, how='outer',left_on='ID', right_on='ID')
JOINT  = JOINT.merge(dt7, how='outer',left_on='ID', right_on='ID')
JOINT  = JOINT.merge(dt8, how='outer',left_on='ID', right_on='ID')
JOINT  = JOINT.merge(dt9, how='outer',left_on='ID', right_on='ID')
JOINT  = JOINT.merge(dt10, how='outer',left_on='ID', right_on='ID')

#### MedHist dataset

In [12]:
dt0 = pd.read_csv('Comma Delimited Data/medhist00.csv') 
dt1 = pd.read_csv('Comma Delimited Data/medhist01.csv') 
dt2 = pd.read_csv('Comma Delimited Data/medhist02.csv') 
dt3 = pd.read_csv('Comma Delimited Data/medhist03.csv') 
dt4 = pd.read_csv('Comma Delimited Data/medhist04.csv') 
dt5 = pd.read_csv('Comma Delimited Data/medhist05.csv') 
dt6 = pd.read_csv('Comma Delimited Data/medhist06.csv') 
dt7 = pd.read_csv('Comma Delimited Data/medhist07.csv') 
dt8 = pd.read_csv('Comma Delimited Data/medhist08.csv') 
dt9 = pd.read_csv('Comma Delimited Data/medhist09.csv') 
dt10 = pd.read_csv('Comma Delimited Data/medhist10.csv') 
MEDHIST  = dt0.merge(dt1, how='outer', left_on='ID', right_on='ID')
MEDHIST  = MEDHIST.merge(dt2, how='outer',left_on='ID', right_on='ID')
MEDHIST  = MEDHIST.merge(dt3, how='outer',left_on='ID', right_on='ID')
MEDHIST  = MEDHIST.merge(dt4, how='outer',left_on='ID', right_on='ID')
MEDHIST  = MEDHIST.merge(dt5, how='outer',left_on='ID', right_on='ID')
MEDHIST  = MEDHIST.merge(dt6, how='outer',left_on='ID', right_on='ID')
MEDHIST  = MEDHIST.merge(dt7, how='outer',left_on='ID', right_on='ID')
MEDHIST  = MEDHIST.merge(dt8, how='outer',left_on='ID', right_on='ID')
MEDHIST  = MEDHIST.merge(dt9, how='outer',left_on='ID', right_on='ID')
MEDHIST  = MEDHIST.merge(dt10, how='outer',left_on='ID', right_on='ID')

In [16]:
MEDHIST.describe()

,ID,P02KPMED,P02KINJ,P02KSURG,P02CNCR3,P02CNC3,P02CNC4,P02CNC13,P02CNC14,P02CNC15,...,V10AMD1112,V10AMD1212,V10AMD1312,V10AMD1412,V10AMD1512,V10KRSR12,V10KRSL12,V10OCCAM96,V10OHCAM96,V10BNFXOT
count,4.796000e+03,4791.000000,4758.000000,4791.000000,4791.000000,34.0,0.0,47.0,0.0,122.0,...,54.000000,54.000000,54.0,54.0,54.0,90.000000,65.000000,3460.000000,3460.000000,3609.000000
mean,9.513826e+06,0.548737,0.413409,0.226466,0.047589,1.0,NaN,1.0,NaN,1.0,...,0.018519,0.018519,0.0,0.0,0.0,0.611111,0.523077,0.001156,0.003179,0.016902
std,2.794781e+05,0.497671,0.492497,0.418588,0.212918,0.0,NaN,0.0,NaN,0.0,...,0.136083,0.136083,0.0,0.0,0.0,0.490229,0.503354,0.033986,0.056303,0.128923
min,9.000099e+06,0.000000,0.000000,0.000000,0.000000,1.0,NaN,1.0,NaN,1.0,...,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000
25%,9.283430e+06,0.000000,0.000000,0.000000,0.000000,1.0,NaN,1.0,NaN,1.0,...,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000
50%,9.522042e+06,1.000000,0.000000,0.000000,0.000000,1.0,NaN,1.0,NaN,1.0,...,0.000000,0.000000,0.0,0.0,0.0,1.000000,1.000000,0.000000,0.000000,0.000000
75%,9.747572e+06,1.000000,1.000000,0.000000,0.000000,1.0,NaN,1.0,NaN,1.0,...,0.000000,0.000000,0.0,0.0,0.0,1.000000,1.000000,0.000000,0.000000,0.000000
max,9.999878e+06,1.000000,1.000000,1.000000,1.000000,1.0,NaN,1.0,NaN,1.0,...,1.000000,1.000000,0.0,0.0,0.0,1.000000,1.000000,1.000000,1.000000,1.000000

In [17]:
'''
Xray datasets do not have one line per ID, so maybe we have to group by...
'''
###TODO
dt0 = pd.read_csv('Comma Delimited Data/xray00.csv').drop(['VERSION'],axis=1)
dt1 = pd.read_csv('Comma Delimited Data/xray01.csv').drop(['VERSION'],axis=1) 
dt2 = pd.read_csv('Comma Delimited Data/xray03.csv').drop(['VERSION'],axis=1) 
dt3 = pd.read_csv('Comma Delimited Data/xray05.csv').drop(['VERSION'],axis=1) 
dt4 = pd.read_csv('Comma Delimited Data/xray06.csv').drop(['VERSION'],axis=1) 
dt5 = pd.read_csv('Comma Delimited Data/xray08.csv').drop(['VERSION'],axis=1)
dt6 = pd.read_csv('Comma Delimited Data/xray10.csv').drop(['VERSION'],axis=1) 

dt0 = pd.read_csv('Comma Delimited Data/acceldatabyday06.csv').drop(['VERSION','V06PAWeekDay','V06VDaySequence','V06PAStudyDay','V06PAMonth'],axis=1)
dt1 = pd.read_csv('Comma Delimited Data/acceldatabyday08.csv').drop(['VERSION','V08PAWeekDay','V08VDaySequence','V08PAStudyDay','V08PAMonth'],axis=1)
dt0 = dt0.groupby('ID').mean()
dt1 = dt1.groupby('ID').mean()

# Selecting Features

In [33]:
#import featuretools as ft
from sklearn.model_selection import train_test_split
from sklearn.model_selection import KFold
from sklearn.metrics import roc_auc_score
from sklearn.preprocessing import LabelEncoder
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.metrics import confusion_matrix
from sklearn import metrics
import lightgbm as lgb
import warnings
warnings.filterwarnings("ignore")

In [34]:
target_name = 'V99ERKRPCF'    # choosing right knee replacement adjucation
targets = DT_outcome[target_name]

# merging targets with jointsx dataset
X = JOINT.merge(DT_outcome[[target_name,'id']], left_on='ID', right_on='id')
ids = X['ID']
X = X.drop(['ID','id',target_name],axis=1)

In [35]:
train = X.fillna(-1)
train_target = targets.fillna(0)     # if no information, then 0
train_target[train_target >= 1] = 1
train = pd.get_dummies(train)

In [36]:
# Create the model with several hyperparameters
model = lgb.LGBMClassifier(objective='binary', boosting_type = 'goss', n_estimators = 10000, class_weight='balanced')

# Initialize an empty array to hold feature importances
feature_importances = np.zeros(train.shape[1])

iterations = 5
# Fit the model twice to avoid overfitting
for i in range(iterations):
    
    # Split into training and validation set
    train_features, valid_features, train_y, valid_y = train_test_split(train, train_target, test_size = 0.25, random_state = i)

    print('\nTraining========================================================== ')        
    # Train using early stopping
    model.fit(train_features, train_y, early_stopping_rounds=100, 
              eval_set = [(valid_features, valid_y)], eval_metric = 'auc', verbose = 200)

    print('\n===========================================================\nModel ')        
    valid_pred = model.predict(valid_features, num_iteration=model.best_iteration_)
    vmetrics = confusion_matrix(valid_y,valid_pred)
    print ('TP',vmetrics[0,0],', FP',vmetrics[0,1],', FN',vmetrics[1,0],', TN',vmetrics[1,1])
    fpr, tpr, thresholds = metrics.roc_curve(valid_y, valid_pred)
    print('AUC = ', metrics.auc(fpr, tpr))    
    print ('Acc:', (vmetrics[0,0] + vmetrics[1,1]) / len(valid_y))
    
    print('==============')
    print('\n0 Frequency: ', (1 - valid_y.sum()/len(valid_y)))
    print(valid_y.describe())

    print('\n==================================\nBASELINE') 
    valid_pred = np.zeros(len(valid_y))
    baseline = confusion_matrix(valid_y,valid_pred)
    fpr, tpr, thresholds = metrics.roc_curve(valid_y, valid_pred)
    print ('TP',baseline[0,0],', FP',baseline[0,1],', FN',baseline[1,0],', TN',baseline[1,1])
    print('AUC = ', metrics.auc(fpr, tpr))
    print ('Acc:', (baseline[0,0] + baseline[1,1]) / len(valid_y))
    
    # Record the feature importances
    feature_importances += model.feature_importances_

feature_importances /= iterations

Training==========================================================
Training until validation scores don't improve for 100 rounds.
Early stopping, best iteration is:
[55]	valid_0's auc: 0.952508

===========================================================
Model
TP 1107 , FP 25 , FN 22 , TN 45
AUC =  0.824778492696
Acc: 0.960800667223
==============

0 Frequency:  0.944120100083
count    1199.000000
mean        0.055880
std         0.229785
min         0.000000
25%         0.000000
50%         0.000000
75%         0.000000
max         1.000000
Name: V99ERKRPCF, dtype: float64

==================================
BASELINE
TP 1132 , FP 0 , FN 67 , TN 0
AUC =  0.5
Acc: 0.944120100083

Training==========================================================
Training until validation scores don't improve for 100 rounds.
[200]	valid_0's auc: 0.956644
Early stopping, best iteration is:
[234]	valid_0's auc: 0.95829

===========================================================
Model
TP 1118 , FP 3 , FN 31 , TN 47
AUC =  0.799943960292
Acc: 0.971643035863
==============

0 Frequency:  0.934945788157
count    1199.000000
mean        0.065054
std         0.246724
min         0.000000
25%         0.000000
50%         0.000000
75%         0.000000
max         1.000000
Name: V99ERKRPCF, dtype: float64

==================================
BASELINE
TP 1121 , FP 0 , FN 78 , TN 0
AUC =  0.5
Acc: 0.934945788157

Training==========================================================
Training until validation scores don't improve for 100 rounds.
Early stopping, best iteration is:
[97]	valid_0's auc: 0.95465

===========================================================
Model
TP 1131 , FP 14 , FN 25 , TN 29
AUC =  0.762404981401
Acc: 0.967472894078
==============

0 Frequency:  0.954962468724
count    1199.000000
mean        0.045038
std         0.207473
min         0.000000
25%         0.000000
50%         0.000000
75%         0.000000
max         1.000000
Name: V99ERKRPCF, dtype: float64

==================================
BASELINE
TP 1145 , FP 0 , FN 54 , TN 0
AUC =  0.5
Acc: 0.954962468724

Training==========================================================
Training until validation scores don't improve for 100 rounds.
[200]	valid_0's auc: 0.951361
Early stopping, best iteration is:
[152]	valid_0's auc: 0.954009

===========================================================
Model
TP 1128 , FP 11 , FN 23 , TN 37
AUC =  0.803504536143
Acc: 0.971643035863
==============

0 Frequency:  0.949958298582
count    1199.000000
mean        0.050042
std         0.218122
min         0.000000
25%         0.000000
50%         0.000000
75%         0.000000
max         1.000000
Name: V99ERKRPCF, dtype: float64

==================================
BASELINE
TP 1139 , FP 0 , FN 60 , TN 0
AUC =  0.5
Acc: 0.949958298582

Training==========================================================
Training until validation scores don't improve for 100 rounds.
[200]	valid_0's auc: 0.959132
Early stopping, best iteration is:
[218]	valid_0's auc: 0.959495

===========================================================
Model
TP 1126 , FP 2 , FN 33 , TN 38
AUC =  0.76671910898
Acc: 0.970809007506
==============

0 Frequency:  0.940783986656
count    1199.000000
mean        0.059216
std         0.236127
min         0.000000
25%         0.000000
50%         0.000000
75%         0.000000
max         1.000000
Name: V99ERKRPCF, dtype: float64

==================================
BASELINE
TP 1128 , FP 0 , FN 71 , TN 0
AUC =  0.5
Acc: 0.940783986656

In [38]:
feature_importances = pd.DataFrame({'feature': list(train.columns), 'importance': feature_importances}).sort_values('importance', ascending = False)

In [39]:
feature_importances.head()

         feature  importance
1812  V10KPLRELG       105.2
1814  V10KPLLELG        68.0
340     V01HSMSS        59.8
1939  V10WILLNGS        59.0
151     V00HSMSS        50.0

In [40]:
# Find the features with zero importance# Find t 
least_important = list(feature_importances[feature_importances['importance'] <= 0.6]['feature'])
print('There are %d no important features' % len(least_important))

There are 1043 no important features

In [30]:

train = train.drop(columns = least_important)
#test = test.drop(columns = least_important)

print('Training shape: ', train.shape)
#print('Testing shape: ', test.shape)

Training shape:  (4796, 1127)